[user]
    name = inj0h
    email = 14225024+inj0h@users.noreply.github.com
[core]
    editor = emacsclient
    pager = delta
[init]
    defaultBranch = main
[interactive]
    diffFilter = delta --color-only
[add.interactive]
    useBuiltin = false
[merge]
    conflictstyle = diff3
[delta]
    navigate = true
    light = false
[diff]
    colorMoved = default
[push]
    autoSetupRemote = true
