# Filename:         gitignore
# Description:
#                   A gitignore for this repository.
#

#
# System
#

# macOS
**.DS_Store

#
# Editor
#

# Emacs
**.\#*
**.dat
**.data
**/emacs.d/*
!/emacs.d/init.el
!/emacs.d/snippets/

# Neo/Vim
**.netrwhist
**.swo
**.swp
**/nvim/*
!/nvim/init.vim
!/nvim/spell/en.utf-8.add

#
# Etc
#

# Tags
**tags
**TAGS
