# Filename: gitignore
# Note:     A gitignore for this repository. Duh.

# Ignore everything!
*

# But descend into directories.
!*/

# And mind the whitelist!
!.gitignore
!.rgignore
!Brewfile
!bootstrap.el
!config.fish
!dotemacs.org
!dotemacs_[0-9]*.el
!dotfiles.txt
!dotvim.lua
!dotvim.vim
!mac.terminal
!readme.md
