# Filename:    gitignore
# Description: A gitignore for this repository (duh).
#

#
# System
#
# Mac
**.DS_Store

#
# Editor
#
# Emacs
**.\#*
**.dat
**.data
**/emacs.d/*
!/emacs.d/custom.el
!/emacs.d/init.el
!/emacs.d/snippets/

#
# Etc
#
# Tags
**tags
**TAGS
