[submodule ".config/nvim/bundle/vim-multiple-cursors"]
	path = .config/nvim/bundle/vim-multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors.git
[submodule ".config/nvim/bundle/SearchComplete"]
	path = .config/nvim/bundle/SearchComplete
	url = https://github.com/vim-scripts/SearchComplete.git
[submodule ".config/nvim/bundle/lightline.vim"]
	path = .config/nvim/bundle/lightline.vim
	url = https://github.com/itchyny/lightline.vim.git
[submodule ".config/nvim/bundle/ctrlp.vim"]
	path = .config/nvim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule ".config/nvim/bundle/vim-cpp-enhanced-highlight"]
	path = .config/nvim/bundle/vim-cpp-enhanced-highlight
	url = https://github.com/octol/vim-cpp-enhanced-highlight.git
[submodule ".config/nvim/bundle/vim-fugitive"]
	path = .config/nvim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".config/nvim/bundle/vim-javascript-syntax"]
	path = .config/nvim/bundle/vim-javascript-syntax
	url = https://github.com/jelera/vim-javascript-syntax.git
[submodule ".config/nvim/bundle/vim-surround"]
	path = .config/nvim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule ".config/nvim/bundle/neomake"]
	path = .config/nvim/bundle/neomake
	url = https://github.com/neomake/neomake.git
[submodule ".config/nvim/bundle/vim-python-pep8-indent"]
	path = .config/nvim/bundle/vim-python-pep8-indent
	url = https://github.com/hynek/vim-python-pep8-indent.git
[submodule ".config/nvim/bundle/python-syntax"]
	path = .config/nvim/bundle/python-syntax
	url = https://github.com/hdima/python-syntax.git
